* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  padding: 0 25px;
}

.app {
  height: 100%;
  background: #1f1f1f2b;
  text-align: center;
}

/*Начало "Шапка формы"*/
.form {
  height: 15vh;
  margin-bottom: 2.5%;
}
.form__header {
  height: 100%;

  border-style: groove none dashed;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form__input,
.form__button {
  width: 25vw;

  padding: 2.5px 10px;
  border-radius: 5px;
  border-style: hidden;
}

.form__button:hover {
  border-style: groove;
}
/*Конец "Шапка формы"*/

/* Начало "Тело контента"*/
.workout {
  padding: 2vw;
}

.workout__name {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5vh;
}

.workout-content {
  display: flex;
  justify-content: space-evenly;
}
.workout-content__disable {
  width: 10%;
}
.btn-change {
  margin-right: 10px;
}
.btn-change::after {
  content: "✎";
}
.btn-delete::after {
  content: "✘";
}
/*Конец "Тело контента"*/
